<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start stretch" style="height:100vh">
	<div class="divPallets" fxFlex="50" fxLayoutAlign="center center" fxFlex.xs="30">
		<img src="/assets/images/logoRondanet.svg" style="width: 60%" />
	</div>

	<div
		fxLayout="row"
		fxLayoutAlign="center center"
		fxFlex="50"
		fxFlex.xs="85"
		fxLayoutAlign.xs="center start"
		style="background-color: #EEE; font-size: 15px;"
	>
		<div id="resetFormCol" fxLayoutAlign="center center">
			<form class="reset-form" [formGroup]="resetForm" (ngSubmit)="sendEmail()">
				<h1>Resetear Contraseña</h1>

				<mat-form-field>
					<input matInput required placeholder="Email" formControlName="email" [(ngModel)]="user.email" />
				</mat-form-field>

				<div class="form-button">
					<button mat-raised-button color="primary" type="submit">Enviar email</button>
					<div class="smallButtons">
						<button id="goToLoginButton" (click)="goToLogin()">Volver al login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
