<mat-sidenav-container class="sidenav-container">
	<div fxFlexFill fxLayout="column" class="main-div">
		<div fxLayout="row" class="nopad">
			<div fxFlexFill fxLayout="column">
				<div fxFlex style="height: calc(100% - 60px)">
					<div fxFlexFill fxLayout="row">
						<div id="adminBusinesses" fxLayout="row">
							<div fxLayout="column" style="height: 100%; background-color:white;" fxFlexFill>
								<system-admin-list-businesses></system-admin-list-businesses>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</mat-sidenav-container>
