nav {
	height: 100%;
	border: 0;
}

.button-active {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #2f66b9;
	margin-bottom: 0px;
}

.button-inactive {
	margin-bottom: 3px;
}
.button-active-mobile {
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #2f66b9;
	margin-left: 0px;
	width: 100%;
}
.button-inactive-mobile {
	margin-left: 3px;
	opacity: 0.7;
	width: 100%;
}
