#welcome {
	margin-top: 15px;
	text-align: center;
}

#confirmText {
	text-align: center;
}

#buttonDiv {
	text-align: center;
}

.verticalSpacer {
}

.margin-left-10px {
	margin-left: 10px !important;
}
