.flex-grow-1 {
    flex-grow: 1 !important;
}

.padding-left-25px {
    padding-left: 25px !important;
}

.padding-right-25px {
    padding-right: 25px !important;
}

table {
    width: 100% !important;
}

.d-flex {
    display: flex !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.mb-10px {
    padding-bottom: 10px !important;
}

.mt-0px {
    margin-top: 0px !important;
}

.pt-25px {
  padding-top: 25px !important;
}
