<div *ngIf="producto == null" fxLayout="column" class="detalles-producto">
	<div *ngIf="!loaderVisible" class="no-results-text">Debes seleccionar un producto</div>
</div>
<div *ngIf="producto != null" class="detalles-producto">
	<div fxLayout="column">
		<h3 class="titulo-detalle">
			{{ producto?.descripcion }}
		</h3>

		<div
			fxLayout="row"
			class="detalles-producto-row"
			style="max-height:180px; width:100%"
			(click)="goToProductDetail(producto.id)"
		>
			<div *ngIf="producto?.foto" fxFlex fxLayoutAlign="center center" style="width: 100%; height:auto;">
				<img
					style="max-width: 100%; max-height: 180px;"
					src="{{ appConfig.apiBucket }}{{ producto?.foto }}"
					onerror="this.onerror=null;this.src='./assets/images/no-image-available.png';"
				/>
			</div>
		</div>
		<div
			fxLayout="row"
			class="detalles-producto-row"
			style="max-height:180px; width:100%"
			(click)="goToProductDetail(producto.id)"
		>
			<div *ngIf="!producto?.foto" fxFlex fxLayoutAlign="center center" style="width: 100%; height:auto;">
				<img style="max-width: 100%; max-height: 180px;" src="./assets/images/no-image-available.png" />
			</div>
		</div>

		<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!catalogoOtros">
			<button mat-button color="primary" (click)="goToProductDetail(producto.id)" class="boton-detalle">
				<mat-icon>open_in_new</mat-icon>
				Más detalles
			</button>
		</div>

		<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="catalogoOtros">
			<div id="buttonsContainer" style="position: relative; display: block; margin: 0 auto;">
				<button
					mat-raised-button
					class="product-detail-button"
					(click)="goToProductDetailOtroCatalogo(producto.id)"
				>
					Detalle
				</button>
				<button
					*ngIf="!isProductInWishList"
					mat-raised-button
					class="product-add-remove-button"
					(click)="addToWishlist(producto.id)"
				>
					Agregar para Exportar
				</button>
				<button
					*ngIf="isProductInWishList"
					mat-raised-button
					class="product-add-remove-button"
					(click)="removeFromWishlist(producto.id)"
				>
					Remover
				</button>
			</div>
		</div>

		<div fxLayout="column">
			<mat-divider></mat-divider>

			<mat-expansion-panel
				expanded="panelGeneralAbierto"
				(opened)="panelGeneralAbierto = true"
				(closed)="panelGeneralAbierto = false"
			>
				<mat-expansion-panel-header>
					<mat-panel-title>
						General
					</mat-panel-title>
				</mat-expansion-panel-header>
				<p fxLayout="row" fxLayoutAlign="space-between center">
					Marca <br />
					<strong>{{ producto?.marca | uppercase }}</strong>
				</p>
				<p fxLayout="row" fxLayoutAlign="space-between center">
					GTIN <br />
					<strong>{{ producto?.gtin }}</strong>
				</p>
				<p fxLayout="row" fxLayoutAlign="space-between center">
					Contenido neto <br />
					<strong
						>{{ producto?.contenidoNeto ? producto?.contenidoNeto : '- ' }}
						{{ producto?.unidadMedida | uppercase }}
					</strong>
				</p>
				<p fxLayout="row" fxLayoutAlign="space-between center">
					Presentación <br />
					<strong>{{
						(producto?.presentacion ? producto?.presentacion : ('- ' | presentacion | async))?.nombre
					}}</strong>
				</p>
				<p fxLayout="row" fxLayoutAlign="space-between center">
					País Origen <br />
					<strong
						>{{
							countryService.getCountryByCode(producto?.paisOrigen)
								? countryService.getCountryByCode(producto?.paisOrigen)
								: ('- ' | uppercase)
						}}
					</strong>
				</p>
				<p fxLayout="row" fxLayoutAlign="space-between center">
					Peso Bruto <br />
					<strong
						>{{ producto?.pesoBruto ? producto?.pesoBruto : '- ' }}
						{{ producto?.pesoBruto ? (producto?.unidadMedidaPesoBruto | uppercase) : '' }}
					</strong>
				</p>
				<p fxLayout="row" fxLayoutAlign="space-between center">
					CPP <br />
					<strong>{{ producto?.cpp }} </strong>
				</p>
			</mat-expansion-panel>

			<mat-divider></mat-divider>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Medidas del producto en góndola
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div fxLayout="row" fxLayoutAlign="space-around center">
					<img class="img-caja-dimensiones" src="assets/images/box.jpg" />
				</div>
				<div fxLayout="row" fxLayoutAlign="space-between center">
					<div fxLayout="row" fxLayoutAlign="start center">
						<img class="img-dimensiones" src="./assets/images/alto.png" />
						<p>
							Alto
						</p>
					</div>
					<strong
						>{{ producto?.alto ? producto?.alto : '- ' }} <span *ngIf="producto?.alto">CM</span>
					</strong>
				</div>
				<div fxLayout="row" fxLayoutAlign="space-between center">
					<div fxLayout="row" fxLayoutAlign="start center">
						<img class="img-dimensiones" src="./assets/images/ancho.png" />
						<p>
							Ancho
						</p>
					</div>
					<strong
						>{{ producto?.ancho ? producto?.ancho : '- ' }} <span *ngIf="producto?.ancho">CM</span>
					</strong>
				</div>
				<div fxLayout="row" fxLayoutAlign="space-between center">
					<div fxLayout="row" fxLayoutAlign="start center">
						<img class="img-dimensiones" src="./assets/images/profundidad.png" />
						<p>
							Profundidad
						</p>
					</div>
					<strong
						>{{ producto?.profundidad ? producto?.profundidad : '- ' }}
						<span *ngIf="producto?.profundidad">CM</span>
					</strong>
				</div>
			</mat-expansion-panel>

			<mat-divider></mat-divider>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Empaques
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div fxLayout="column" fxLayoutAlign="center stretch" *ngIf="producto?.nivelMinimoVenta">
					<mat-divider></mat-divider>
					<div fxLayout="column" fxLayoutAlign="center center">
						<h4>Se vende de a {{ producto?.nivelMinimoVenta }} unidades de consumo</h4>
					</div>
					<mat-divider></mat-divider>
				</div>
				<div *ngFor="let pack of empaquesProductoDetalle; let i = index">
					<div *ngIf="empaquesProductoDetalle.length > 0" class="empaques-detalle">
						<h4>Empaque {{ pack.nivel }}:</h4>
						<p fxLayout="row" fxLayoutAlign="space-between center">
							Presentación <br />
							<strong>{{ pack.clasificacion }}</strong>
						</p>
						<p fxLayout="row" fxLayoutAlign="space-between center">
							Cantidad por empaque <br />
							<strong>{{ pack.cantidad }}</strong>
						</p>
						<p fxLayout="row" fxLayoutAlign="space-between center">
							Peso Bruto <br />
							<strong
								>{{ pack.pesoBruto ? pack.pesoBruto : '- ' }}
								{{ pack.pesoBruto ? pack.unidadMedida : '' }}</strong
							>
						</p>
						<p fxLayout="row" fxLayoutAlign="space-between center">
							GTIN <br />
							<strong>{{ pack.gtin }}</strong>
						</p>
					</div>
				</div>
			</mat-expansion-panel>
		</div>
	</div>
</div>
