.empaques {
	margin-left: 20px;
}
#addPackLevelButton {
	margin-top: 16px;
}
#boxImg {
	margin-top: 26px;
	width: 200px;
	height: 142px;
}
.medidas-empaque {
	margin-top: 32px;
}
mat-form-field {
	margin-bottom: 5px;
}
