<div style="flex: 1 1 auto; overflow-y: auto;">
	<div class="example-container">
		<form class="example-container" [formGroup]="options"></form>
		<div id="createUserTitle">Ingrese a continuación una nueva contraseña</div>

		<mat-form-field [hideRequiredMarker]="false">
			<input type="password" matInput placeholder="Contraseña" required [(ngModel)]="user.contrasena" />
			<mat-error *ngIf="invalidPassword()">Debes ingresar una contraseña</mat-error>
		</mat-form-field>

		<mat-form-field [hideRequiredMarker]="false">
			<input type="password" matInput placeholder="Repetir Contraseña" required [(ngModel)]="repeatPassword" />
			<mat-error *ngIf="invalidPasswordRepeat()">Debes repetir la contraseña</mat-error>
		</mat-form-field>
	</div>
	<div
		style="margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;"
	>
		<button id="createButton" (click)="changePassword()" mat-button>Cambiar contraseña</button>
	</div>
</div>
