.example-container {
	width: 70%;
	margin: 0 auto;
}
.example-container button {
	margin-top: 20px;
	height: 50px;
	margin-bottom: 20px;
	width: 90%;
}
.example-container > * {
	width: 90%;
	margin: 0 auto;
}
.example-container form {
	margin-bottom: 20px;
}

.example-container form > * {
	margin: 5px 0;
}

.example-container .mat-checkbox {
	margin: 0 5px;
}
#createButton {
	width: auto;
	position: relative;
	background-color: rgba(51, 109, 182, 1);
	color: white;
	border-radius: 7px;
	margin-top: 20px;
	height: 35px;
	margin: 0 auto;
}

#createUserTitle {
	text-align: center;
	color: #797979;
	font-size: 19px;
	margin-bottom: 10px;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.example-container {
		width: 90%;
		margin: 0 auto;
	}
	#createBusinessTitle {
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-top: 35px;
	}

	#createButton {
		float: none;
		margin-right: 0px;
		width: 90%;
		margin: 0 auto;
		display: block;
		margin-top: 20px;
	}
}
