.example-container {
	display: flex;
	flex-direction: column;
}
.example-container button {
	margin-top: 20px;
	height: 50px;
	margin-bottom: 20px;
	width: 90%;
}
.example-container > * {
	width: 90%;
	margin: 0 auto;
}

.example-container form {
	margin-bottom: 20px;
}

.example-container form > * {
	margin: 5px 0;
}

.example-container .mat-radio-button {
	margin: 0 5px;
}
#deleteButton {
	position: relative;
	float: right;
	font-weight: bold;
	background-color: #f37676;
	color: white;
	margin-right: 30px;
	width: 200px;
	border-radius: 10px;
	margin-top: 20px;
	height: 40px;
	margin-bottom: 20px;
}
#createButton {
	position: relative;
	float: right;
	background-color: #2f66b9;
	color: white;
	margin-right: 4%;
	width: 200px;
	border-radius: 10px;
	margin-top: 20px;
	height: 40px;
	margin-bottom: 20px;
}

#editBusinessTitle {
	display: none;
}

@media screen and (max-width: 768px) {
	#editBusinessTitle {
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-top: 35px;
	}

	#createButton {
		margin-right: unset;
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	#deleteButton {
		margin-right: unset;
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}

	#buttonsContainer {
		margin-top: 10px;
		width: 90%;
		position: relative;
		display: block;
		margin: 0 auto;
	}

	.example-container {
		font-size: 14px;
	}
}
