<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start stretch" style="height:100vh">
	<div fxFlex="50" fxLayoutAlign="center center" fxFlex.xs="30">
		<img src="/assets/images/logoRondanet.svg" style="width: 60%" />
	</div>

	<div
		fxLayout="row"
		fxLayoutAlign="center center"
		fxFlex="50"
		fxFlex.xs="85"
		fxLayoutAlign.xs="center start"
		style="background-color: #EEE; font-size: 15px;"
	>
		<div fxLayout="column" fxLayoutAlign="space-around center">
			<i class="material-icons error-icon">error_outline</i>
			<h1 class="error">Error 404:</h1>
			<h3>No se encontró la pagina.</h3>
			<button mat-raised-button color="primary" routerLink="/seleccionar-empresa">Volver</button>
		</div>
	</div>
</div>
