.filtro-checkbox {
	margin-top: 5px;
}

.filtro-visibilidad-contenido {
	margin-left: 10%;
}

.filtro-visibilidad,
.filtro-prod-privados {
	cursor: pointer;

	mat-icon {
		margin-right: 4px;
	}

	&:hover {
		opacity: 0.8;
	}
}

.filtro-prod-privados {
	margin-top: 5px;
	margin-left: -4px;
}

.select-visibilidad {
	margin-top: 10px;
	max-width: 90%;
	margin-left: 24px;
}
