.main-bar {
	height: 60px;
	z-index: 1;

	span {
		color: #3f51b5;
		font-size: 1.3rem;
	}
}

#carritoTable {
	.mat-column-borrar {
		padding-left: 15px;
		box-sizing: border-box;
	}

	.mat-column-cantidad,
	.mat-column-precio {
		&.mat-cell {
			padding-left: 10px;
			box-sizing: border-box;
		}
	}

	.mat-column-borrar,
	.mat-column-cantidad,
	.mat-column-unidades {
		text-align: center;
	}
}

.total-div {
	margin: 20px 35px 30px 10px;
	color: #3f51b5;
	font-size: 1.3rem;
	font-weight: 600;
	border-bottom: 0.7px dotted;
}

.carrito-buttons-div {
	margin: 10px 10px;

	button.borrar-button {
		margin-right: 5px;
	}
}
