#profileImgContainer {
	height: 145px;
	width: 145px;
	display: block;
	margin-bottom: 5px;
}
#profileImg {
	width: auto;
	height: auto;
	max-width: 145px;
	max-height: 145px;
	display: block;
}
.margen-icono-boton {
	margin-right: 5px;
}
.hidden-button {
	margin-bottom: 36px;
}
